# Files Docker should NOT copy into the image — keeps build fast & image small
vendor
node_modules
.git
.env
.env.example
storage/logs/*.log
storage/framework/cache
storage/framework/sessions
storage/framework/views
public/storage
*.md
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store